# python 
__pycache__
*.pyc
.venv

# data
dp_checkpoints
models/*.pkl
outputs/*.png
setup_*.yaml
best_genome.pkl
plots/*.png

# logger - user configuration (contains sensitive user data)
em43_python_refactored/logger/user_config.json